/*Variabler*/
$bg-color: #E4BFBC;
$nav-color: #F2CFC6;
$footer-color: #F2CFC6;
$primary-color: #EF89B9;
$secondary-color: #D494A7;
$text-color: #000;
$padding: 0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
