@use 'partial';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: partial.$bg-color; 
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}

/* DESKTOP - BG - VIDEO */
.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.bg-video-mobil {
    display: none;
}

/* MOBIL - BG - VIDEO */
@media screen and (max-width: 900px){
    .bg-video {
        display: none;
    }
    .bg-video-mobil {
        display: inline-block;
        position: absolute;
        right: 0;
        object-fit: cover;
        top: 2%;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: auto;
        }
}

/*NAVIGATION DESKTOP*/
nav {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    width: 100%;
}
.nav-bg {
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: -1;
}
.nav-bg-mobile {
    display: none;
}

nav img {
    width: 120px;
    display: flex;
    align-items: flex-start;
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.link-contact {
    text-decoration: none;
    color: #000;
    margin: 0 20px 0 0 ;
    letter-spacing: 2.5px;
    font-size: 22px;
    font-family: 'brown sugar';

}
.nav-links {
    flex: 1;
    text-align: left;
    padding-left: 100px;
    position: absolute;
    background-image: url(../img/bg-menu2.png);
    height: 100vh;
    width: 500px;
    top: 0;
    right: -500px;
    z-index: 3;
    transition: 1s;

}
.links-navigation {
    text-align: center;

        p {
            padding: 45% 8% 10% 8%;
            line-height: 3;
            color: #1F427E;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
}
.nav-links ul li {
    list-style: none; /* no bullets */
    padding: 12px 12px;
    position: relative;
    justify-content: center;
    top: 150px;
    font-size: 22px;
}
nav .fa{
    color: black;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;

}
.nav-links ul li a{
    font-size: 30px;
    color: partial.$primary-color;
    text-decoration: none;

}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #d04a82;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 50%;
}
.links-navigation a {
    font-size: 20px;
    color: #000;
    padding: 10px;
    font-family: 'brown sugar';
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
}

///*NAVIGATION - MOBIL *///
@media screen and (max-width: 900px){
    nav {
        padding: 2% 4%;
    }

    .nav-bg {
        display: none;
    }
    .nav-bg-mobile {
        display: inherit;
        width: 100%;
        height: 120px;
        position: absolute;
        z-index: -1;
    }
    .wrapper {
        padding: 4% 0;
    }
    nav img {
        width: 80px;
        margin-left: 30px;
        padding: 5% 0;
    }
    .link-contact {
        font-size: 15px;
        margin: 0 10px 0 0 ;
    }
    nav .fa {
        font-size: 20px;
    }

}
/*DEVIDER - DESKTOP*/
.devider {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-top: -130px;
}
.waves-desktop {
    display: flex;
}
.waves-mobile {
    display: none;
}

/*DEVIDER - MOBILE*/
@media screen and (max-width: 900px){
    .waves-desktop {
        display: none;
    }

    .waves-mobile {
        display: flex;
        margin-top: -160px;
    }
}

/* PRESENTATION - TOP */

.presentation {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    height: 70vh;
    width: 100%;
    background-color: #fed0c7;
    margin-top: -80px;
}

.presentation img {
    display: flex;
    width: 300px;
    height: auto;
    float: left;
    z-index: 1;
    margin: 1% 2%;
    position: absolute;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    z-index: 2;
    margin-top: 25px;

        h1{
            color: #000;
            font-family: 'brown sugar';
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 2px;
        }
        
        h2 {
            color: #fff;
            padding: 30px 0;
            font-style: italic;
            font-weight: 200;
        }
        p {
            color: partial.$primary-color;
            line-height: 35px;
            width: 70%;
            margin: auto;
            margin-bottom: 40px;
            font-family: 'Hero New', sans-serif;
            font-size: 15px;
            padding: 0 0 30px 0;
        }
        
        .cta-btn {
            background-color: #fff;
            border-radius: 10px;
            text-decoration: none;
            font-size: 18px;
            padding: 20px 50px;
            box-shadow: 2px 4px rgba($color: #737272, $alpha: .1);
           
        }
}
///* PRESENTATION - TOP * mobil ///

@media screen and (max-width: 900px){
    .presentation {
        margin-top: -90px;
        height: 80vh;
    }

    .container {
    
        h1 {
            font-size: 26px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        h2 {
            font-size: 16px;
            padding: 15px 0;
        }
        p {
            font-size: 12px;
            width: auto;
        }
    }

    .presentation img {
        
        width: 110px;
        margin-top: -35px;
    }
    
}

/*DEVIDER - DESKTOP */

.devider-bottom {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        position:absolute;
        margin-top: 25%;
    }
    .waves-bottom-desktop {
        display: flex;
    }
    .waves-bottom-mobile {
        display: none;
    }

/* DEVIDER - MOBILE */
@media screen and (max-width: 900px){
    .waves-bottom-desktop {
        display: none;
    }

    .waves-bottom-mobile {
        display: flex;
        height: auto;
    }
}